.background
{
    background-image: url(../../images/background.jpg) ;
    background-size:cover;
}

*{
    font-family: "Trirong", serif !important;
}

#title
{
    font-size: 40px;
    width: 100%;
    margin: 2% 5%;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    color: Black;
}

#loginDiv
{
    font-size: 50px;
    border-radius: 10px;
    position: absolute;
    bottom:190px;
    width: 30%;
    margin-left: 34%;
    padding: 45px;
    background-color: White;
}

#loggedInDiv
{
    font-size: 10px;
    width: 100%;
    margin-left: 50%;
    padding: 25px;
    background-color: #b2b2b2;
}

#accessUIDiv
{
    font-size: 50px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

.buttons
{
    font-size: 30px;
    border-radius: 25px;
    width: 65%;
    margin-left: 25%;
    font-family: "Times New Roman", Times, serif;
}

.buttons:hover{
    background-color: #00d5124f;
    color: #FFFFFF;
    opacity: 50%;
}

#loginName
{
  color: grey;
  font-size: 13px;
  font-family: "Helvetica", sans-serif;
  font-weight: normal;
  background:#EFEEEE;
}

#loginPassword
{
  color: grey;
  font-size: 13px;
  font-family: "Helvetica", sans-serif;
  font-weight: normal;
  background:#EFEEEE;
}
#searchText
{
	font-size: 30px;
}
#colorText
{
	font-size: 30px;
}

input[type="text"],input[type="password"]{
    border-radius: 25px;
 
}

#loginResult{
    display: flex;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: "Times New Roman", Times, serif;
    color: #95060a;
}



#logoutButton{
    width: 20%;
    margin-left: 40%;
}




.informationBox {

    display:flex-column;
    width: 100%;  
 }
 
 .informationContainer {
 
    background-color:white;
    border-radius: 25px;
    width:100%;
    height:100%;
    padding : 5%;
 }
 .titleBox {
 
    display:flex;
    justify-content : inline;
    width: 100%;
 }
 
 
 .homebackgroundImage {
 
    background-image: url("../../images/background.jpg");
    background-size:cover;
    height:100%;
    width:100%;
 }
 
 .circle{

    display:flex;
    height:50%;
    width:50%;
    background-image: url("../../images/background.jpg");
    border-radius: 50%;
    padding:35%;
    align-items:center;
    justify-content:center;
 }
 
 #contactAttribute {
    font-family: "Trirong", serif;
 }
 
 #deleteButton {
 
    display:flex;
    height:100;
    width:100;
    justify-content:flex-end;
 
 }
 
 #contactBox{

    display:flex;
    padding: 0%;
    margin:0%;
    height:100%;
    width:100%;
    justify-content:center;
    align-items:center;

 }




#errorText {

    color: red;
    font-size:medium;

}

<<<<<<< HEAD

#title{
    font-size: 60px;
    font-family: "Bebas Neue", Sans-serif;
    font-weight: bold;
    color: mediumvioletred;
=======
#loginButton{
  background-color: mediumvioletred;
  margin-top: 23px;
  font-size: 13px;
}

#block
{
    border-radius: 10px;
    position: absolute;
    width: 30%;
    margin-left: 35%;
    padding: 45px;
    bottom: 180px;
    background-color: White;
}

#title
{
  display: inline-block;
  font-size: 40px;
  width: 90%;
  text-align: center;
  margin-left: 5%;
  margin-bottom: 10%;
  font-family: "Bebas Neue", Sans-serif;
  font-weight: bold;
  color: mediumvioletred;
>>>>>>> 4f805d245f76424ce639bdaa7a6743056b9a42a2
}
